*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    background-color: #e5e5fd;
    min-height: 100vh;
    border: 10px solid #1d1e4c;
    padding: 7px;
}

.content{
    max-width: 900px;
    margin: 0 auto;
}

.top_section{
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.top_section h1{
    font-size: 50px;
    font-weight: bold;
    color: #1d1e4c;
    text-transform: uppercase;
}

.top_section h4{
    text-align: end;
    font-size: 30px;
}

.image_container{
    max-width: 300px;
}

.image_container img{
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}

.about_section{
    margin-top: 50px;
}

.about_section h2{
    font-size: 70px;
    font-weight: 400;
    margin-bottom: 20px;
    
}

.about_section p{
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 2px;
    text-align: justify;
    
}

.biography_section{
    margin: 50px 0;
}

.biography_section h3{
    margin-bottom: 20px;
}

.biography_section ul{
    margin-left: 50px;
}

.biography_section li{
    margin-bottom: 15px;
}

footer {
    margin: 50px 0;

}

footer p{
    text-align: end;
}

@media (max-width: 768px) {
    .top_section {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 20px;
    }

    .top_section h1 {
        font-size: 32px;
    }

    .top_section h4 {
        font-size: 20px;
        text-align: center;
    }

    .about_section h2 {
        font-size: 40px;
        text-align: center;
    }

    .about_section p {
        font-size: 16px;
        line-height: 26px;
    }

    .biography_section ul {
        margin-left: 20px;
    }

    .biography_section li {
        font-size: 16px;
    }

    footer p {
        font-size: 14px;
        text-align: center;
    }
}
